<div class="chat-container">
  <div class="chat-lists" id="chat-lists">
    <% unless @messages.nil? %>
      <% @messages.each do |message| %>
        <%= render partial: 'messages/message', locals: { message: message.content, user_nickname: message.user.nickname } %>
      <% end %>
    <% end %>
  </div>
  <div class="chat-input-container">
    <div class="d-flex flex-row align-items-center mt-2 mb-2">
      <i class="fas fa-comment-dots fa-lg me-2 ms-2"></i>
      <div class="form-outline flex-fill">
        <%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>
      </div>
    </div>
  </div>
</div>
