<section class="vh-100" style="background-color: #eee;">
  <div id="in_lobby">
    <div class="header">
      <div>
        まだチャット機能しかないよ！
      </div>
      <div class="col-md-3 text-end">
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger me-2" %>
      </div>
    </div>
  </div>
    <div class="main-container">
      <%= render partial: 'rooms/nine_rooms', locals: { rooms: @rooms } %>
      <%= render partial: "rooms/chat_side_bar", locals: { messages: @messages }  %>
    </div>
  </div>
</section>
