<section class="vh-100" style="background-color: #eee;">
  
  <h1>Rooms#index</h1>
  <div class="rooms"></div>
  <p>Find me in app/views/rooms/index.html.erb</p>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <br>
  <%#= render "games/board" %>

  <%= render partial: 'rooms/show_rooms', locals: { rooms: @rooms } %>


</section>
