<section class="vh-100" style="background-color: #eee;">
  <div id="in_lobby">
    <%= render partial: 'rooms/header', locals: { room: nil } %>
  </div>
    <div class="main-container">
      <%= render partial: 'rooms/nine_rooms', locals: { rooms: @rooms } %>
      <%= render partial: "rooms/chat_side_bar", locals: { messages: @messages }  %>
    </div>
  </div>
</section>
