<section class="vh-100" style="background-color: #eee;">
  <div id="in_lobby">
    <%= render "header" %>
  </div>
    <div class="main-container">
      <%= render "nine_rooms" %>
      <%= render "chat_side_bar" %>
    </div>
  </div>
</section>
