<div class="header">
 <div><%= "Header is here. and here is Room #{@room.id}" %></div>
</div>
<div class="main-container">
  <div class="container-fluid	board"></div>
  <div class="chat-container"></div>
</div>
