<div id="in_room" data-room_id="<%= @room.id %>">
  <%= render partial: 'rooms/header', locals: { room: @room } %>
  <div class="main-container">
    <div class="container-fluid	board"></div>
    <%= render partial: "rooms/chat_side_bar", locals: { messages: @messages }  %>
  </div>
</div>
