<section class="vh-100" style="background-color: #eee;">
  <div id="in_room" data-room_id="<%= @room.id %>">
    <%= render "header" %>
    <div class="main-container">
      <div class="container-fluid	board"></div>
      <%= render "chat_side_bar" %>
    </div>
  </div>
</section>
