<section class="vh-100" style="background-color: #eee;">
  <div id="in_room" data-room_id="<%= @room.id %>">
    <%= render "header" %>
    <div class="main-container">
      <div class="container-fluid	board">
        <div class="seats" id="seat-1">対戦席1に移動</div>
        <div class="seats" id="seat-2">対戦席2に移動</div>
        <div class="seats" id="seat-3">対戦席3に移動</div>
        <div class="seats" id="seat-4">対戦席4に移動</div>
        <div class="seats" id="spectators">観戦席に移動</div>
      </div>
      <%= render "user_chat_bar" %>
    </div>
  </div>
</section>
