.header {
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}

.error-message {
  color: red
}
