.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

.main-container {
  height: calc(100vh - 50px);
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.board, .lobby {
  height: 100%;
  background-color: lightgoldenrodyellow
}

.chat-container {
  height: 100%;
  width: 400px;
  background-color: darksalmon;
  display: flex;
  flex-direction: column;
}

.chat-lists {
  height: 100%;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  word-break: break-all;
}

.chat-input-container {
  height: auto;
  margin-left: 5px;
  background-color: royalblue;
}
