.main-container {
  height: calc(100vh - 50px);
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.board, .lobby {
  height: 100%;
  background-color: white;
  overflow: scroll;
}

.room-row {
  height: 100vmin;
  width: 100vmin;
}

.room-container {
  width: 30vmin;
  height: 30vmin;
  position: relative;
}

.room-detail {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3vmin;
}

.room-ring {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.chat-container {
  height: 100%;
  width: 400px;
  /* background-color: darksalmon; */
  display: flex;
  flex-direction: column;
}

.chat-lists {
  height: 100%;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color:skyblue;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  word-break: break-all;
}

.chat-input-container {
  height: auto;
  margin-left: 5px;
  background-color: royalblue;
}
